<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO">

	<insert id="insertBoard" parameterType="board">
		INSERT INTO
		BOARD(BOARD_ID, EMP_NO, TITLE, BOARD_CONTENTS)
		VALUES((SELECT
		NVL(MAX(BOARD_ID),0) +1 FROM BOARD),
		#{empNo}, #{title},
		#{boardContents})
	</insert>

	<update id="updateBoard" parameterType="board">
		UPDATE BOARD
		SET
		TITLE =
		#{title},
		BOARD_CONTENTS = #{boardContents}
		WHERE BOARD_ID = #{boardId}
	</update>

	<delete id="deleteBoard">
		DELETE FROM BOARD
		WHERE BOARD_ID = #{boardId}
	</delete>

	<select id="selectBoardList" parameterType="board"
		resultType="board">
		SELECT E.EMP_NAME, B.*
		FROM BOARD B, EMPLOYEES E
		WHERE
		B.EMP_NO = E.EMP_NO
		ORDER BY BOARD_ID DESC
	</select>

	<select id="selectBoardOne" parameterType="board"
		resultType="board">
		SELECT E.EMP_NAME, B.*
		FROM BOARD B join EMPLOYEES E on
		B.emp_no = E.emp_no
		WHERE
		B.board_id = #{boardId}
	</select>

	<select id="selectBoardListPaging" parameterType="board"
		resultType="board">
		SELECT ROW_NUM,
		BOARD_ID,
		EMP_NAME,
		TITLE,
		BOARD_CONTENTS,
		TIME
		FROM (SELECT ROWNUM ROW_NUM,
		A.* FROM ( SELECT E.EMP_NAME, B.*
		FROM BOARD B, EMPLOYEES E
		WHERE B.EMP_NO = E.EMP_NO
		
			<if test="searchKeyword !=null and searchKeyword !=''">
				<choose>
					<when test="searchCondition == 'TITLE'">
						AND TITLE LIKE '%' || #{searchKeyword} || '%'
					</when>
					<when test="searchCondition == 'BOARD_CONTENTS'">
						AND BOARD_CONTENTS LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>
		
		ORDER BY BOARD_ID DESC) A
		) C
		WHERE ROW_NUM BETWEEN #{first} AND #{last}
	</select>

	<select id="selectBoardListTotalCnt" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		<where>
			<if test="searchKeyword !=null and searchKeyword !=''">
				<choose>
					<when test="searchCondition == 'TITLE'">
						AND TITLE LIKE '%' || #{searchKeyword} || '%'
					</when>
					<when test="searchCondition == 'BOARD_CONTENTS'">
						AND BOARD_CONTENTS LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>
		</where>
	</select>
</mapper>

