<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeptDAO">

	<!-- 부서 리스트 조회 -->
	<select id="getDeptList" resultType="dept" parameterType="dept">
		SELECT LPAD('-', 6*(LEVEL-1)) || DEPT_NAME DEPT_NAME, DEPT_ID
		,CASE WHEN UPPER_DEPT_ID = '1' THEN '경영지원팀'
		WHEN UPPER_DEPT_ID = '2' THEN '회계'
		WHEN UPPER_DEPT_ID = '3' THEN '인사'
		WHEN UPPER_DEPT_ID = '4' THEN '연구관리팀'
        WHEN UPPER_DEPT_ID = '5' THEN '개발'
        WHEN UPPER_DEPT_ID = '6' THEN '테스트'
        WHEN UPPER_DEPT_ID = '7' THEN '회사'
		ELSE '없음' END AS UPPER_DEPT_ID
		FROM DEPARTMENT
		START WITH DEPT_NAME='회사'
		CONNECT BY PRIOR DEPT_ID=UPPER_DEPT_ID
	</select>
	
	<!-- 부서 조회 -->
    <select id ="getDept" resultType="dept" parameterType="dept">
        SELECT DEPT_ID, DEPT_NAME, UPPER_DEPT_ID 
        FROM DEPARTMENT 
        WHERE DEPT_ID = #{deptId}
    </select>
	
	<!-- 수정 -->
	<update id="updateDept" parameterType="dept">
		UPDATE DEPARTMENT SET
		DEPT_ID = #{deptId}
		,DEPT_NAME = #{deptName}
		,UPPER_DEPT_ID = #{upperDeptId}
		WHERE DEPT_ID = #{deptId}
	</update>
	
	<!--부서 등록 -->
	<insert id="insertDept" parameterType="dept">
		INSERT INTO DEPARTMENT(
								DEPT_ID
								,DEPT_NAME
								<if test="upperDeptId != null">
								,UPPER_DEPT_ID)
								</if>
		VALUES ( (SELECT NVL(MAX(DEPT_ID), 0) + 1 FROM DEPARTMENT )
				,#{deptName}
				<if test="upperDeptId != null">
				,#{upperDeptId}
				</if>
		)
	</insert>
	
	<!--부서 삭제 -->
	<delete id="deleteDept" parameterType="dept">
		DELETE FROM DEPARTMENT
		WHERE DEPT_ID = #{deptId}
	</delete>
</mapper>