<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DocFormDAO">

	<insert id="insertDocForm" parameterType="docForm">
		INSERT INTO DOCUMENTFORM (
							  FORM_ID,
							  FORM_NAME,
							  DESCRIPTION,
							  FORM_CONTENTS
							)
				    VALUES ( (SELECT NVL(MAX(FORM_ID), 0) + 1 FROM DOCUMENTFORM ),
				             #{formName},
				             #{description},
				             #{formContents}
				    )
			    
	</insert>
	
	<select id="selectDocFormList" parameterType="com.weaving.biz.docForm.DocFormSearchVO" resultType="docForm">
		SELECT ROW_NUM,
		       FORM_ID,
			   FORM_NAME,
			   DESCRIPTION,
			   FORM_CONTENTS
		  FROM (SELECT ROWNUM ROW_NUM ,
		  		A.* FROM (SELECT * 
		  		            FROM DOCUMENTFORM 
		  		          ORDER BY FORM_ID) A ) B 
		  WHERE ROW_NUM BETWEEN #{first} AND #{last}
	</select>
	
	<select id="selectDocFormTotalCnt" resultType="int">
		SELECT COUNT(*)
		  FROM DOCUMENTFORM
	</select>
</mapper>