<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DocListDAO">

	<select id="getWaitDocList" resultType="com.weaving.biz.doc.DocWaitVO" parameterType="int">
		
		SELECT A.DOC_ID,
		       C.DOC_TITLE,
		       C.DOC_NO,
		       C.REG_DATE,
		       C.SECURE_LEVEL,
		       A.EMP_NO AS WAIT_EMP_NO,
		       B.EMP_NAME AS WAIT_EMP_NAME,
		       C.EMP_NO AS WRITER_EMP_NO,
		       D.EMP_NAME AS WRITER_EMP_NAME
		  FROM DOCUMENTDETAIL A INNER JOIN EMPLOYEES B ON A.EMP_NO = B.EMP_NO
		                        INNER JOIN DOCUMENTS C ON A.DOC_ID = C.DOC_ID
		                        INNER JOIN EMPLOYEES D ON C.EMP_NO = D.EMP_NO
		 WHERE A.APPROVAL_ORDER = (SELECT MIN(APPROVAL_ORDER)
		                             FROM DOCUMENTDETAIL
		                            WHERE APPROVAL_DATE IS NULL 
		                              AND STATUS = 'WAIT'
		                              AND DOC_ID = A.DOC_ID 
		                          )
		  AND C.RETURN_EMP_NO IS NULL
		  AND A.EMP_NO = #{empNo}
		
	</select>
	
	
	<!-- 결재 완료 문서 조회 -->
    <select id="getDoneDocList" resultType="docBase" parameterType="int">
    <![CDATA[
	    SELECT DISTINCT DOC_ID,
	    				DOC_NO,
	    				DOC_TITLE,
	    				TO_CHAR(DONE_DATE, 'YYYY-MM-DD HH12:MI:SS') AS DONE_DATE,
	    				WRITER_EMP_NAME,
	    				SECURE_LEVEL
	  	  FROM ( SELECT A.DOC_ID, 
	  	  				A.DOC_NO, 
	  	  				A.DOC_TITLE, 
	  	  				A.DONE_DATE, 
	  	  				A.SECURE_LEVEL, 
	  	  				C.EMP_NAME AS WRITER_EMP_NAME, 
	  	  				B.EMP_NO, 
			            CASE A.SECURE_LEVEL WHEN 'C' THEN 'D'
			                                WHEN 'B' THEN 'C'
			                                WHEN 'A' THEN 'B'
			                                WHEN 'S' THEN 'A' END AS S_LEVEL
	          	  FROM DOCUMENTS A INNER JOIN DOCUMENTDETAIL B ON A.DOC_ID = B.DOC_ID
	                               INNER JOIN EMPLOYEES C ON A.EMP_NO = C.EMP_NO
	             WHERE A.DONE_DATE IS NOT NULL
	            )
		 WHERE EMP_NO = #{empNo}
	      	   OR S_LEVEL >= ( SELECT CASE WHEN POSITION = 0 THEN 'D'
		                                   WHEN POSITION = 1 THEN 'C'
		                                   WHEN POSITION >= 2 AND POSITION < 4 THEN 'B'
		                                   WHEN POSITION >= 4 THEN 'A' END AS P_LEVEL
	                             FROM EMPLOYEES
	                            WHERE EMP_NO = #{empNo})
		ORDER BY DONE_DATE
    ]]>
    </select>


	<!-- 반려문서 조회 -->
	<select id="getReturnDocList" parameterType="int" resultType="com.weaving.biz.doc.DocReturnVO">
		SELECT A.DOC_ID,
		       A.DOC_NO,
		       A.DOC_TITLE,
		       A.REG_DATE,
		       A.SECURE_LEVEL,
		       A.EMP_NO AS WRITER_EMP_NO,
		       C.EMP_NAME AS WRITER_EMP_NAME,
		       A.RETURN_EMP_NO AS RETURN_EMP_NO,
		       B.EMP_NAME AS RETURN_EMP_NAME
		  FROM DOCUMENTS A INNER JOIN EMPLOYEES B ON A.RETURN_EMP_NO = B.EMP_NO
		                   INNER JOIN EMPLOYEES C ON A.EMP_NO = C.EMP_NO
		 WHERE RETURN_EMP_NO IS NOT NULL 
		   AND A.EMP_NO = #{empNo}
		 ORDER BY A.DOC_ID
	</select>
	
	
	<!-- 진행중인 문서 조회 (진행 중, 반려) -->
	<select id="getIngDocList" parameterType="int" resultType="docBase">
		SELECT A.DOC_ID,
		       A.DOC_NO,
		       A.DOC_TITLE,
		       A.EMP_NO AS WRITER_EMP_NO,
		       B.EMP_NAME AS WRITER_EMP_NAME,
		       CASE WHEN RETURN_EMP_NO IS NOT NULL THEN '반려됨'
		            ELSE '진행중' END AS STATE,
		       A.REG_DATE,
		       A.SECURE_LEVEL
		  FROM DOCUMENTS A INNER JOIN EMPLOYEES B ON A.EMP_NO = B.EMP_NO
		                   INNER JOIN DOCUMENTDETAIL C ON A.DOC_ID = C.DOC_ID
		 WHERE A.DONE_DATE IS NULL 
		    AND C.EMP_NO = #{empNo}
		 ORDER BY A.DOC_ID, C.APPROVAL_ORDER
	</select>
	
	<select id="getTempDocList" parameterType="int" resultType="docBase">
		SELECT A.DOC_ID,
		       A.DOC_NO,
		       A.DOC_TITLE,
		       A.EMP_NO AS WRITER_EMP_NO,
		       B.EMP_NAME AS WRITER_EMP_NAME,
		       A.REG_DATE
		  FROM DOCUMENTS A INNER JOIN EMPLOYEES B ON A.EMP_NO = B.EMP_NO
		 WHERE A.TEMP_YN = '1'
		    AND A.EMP_NO = #{empNo}
		 ORDER BY A.DOC_ID
	</select>

</mapper>