<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmpDAO">
	<insert id="insertEmp" parameterType="emp">
		INSERT INTO EMPLOYEES(
								EMP_NO
								,EMP_NAME
								,PASSWORD
								<if test="position != null">
								,POSITION
								</if><if test="joindate1 != null">
								,JOINDATE
								</if>
								,EMAIL
								<if test="phone != null">
								,PHONE
								</if><if test="address != null">
								,ADDRESS
								</if><if test="deptId != null">
								,DEPT_ID
								</if><if test="deletedYn != null">
								,DELETED_YN
								</if><if test="deletedDate != null">
								,DELETED_DATE
								</if><if test="gmailAppKey != null">
								,GMAIL_APP_KEY
								</if>
								)
		VALUES ( (SELECT NVL(MAX(EMP_NO), 0) + 1 FROM EMPLOYEES )
				,#{empName}
				,#{password}
				<if test="position != null">
				,#{position}
				</if><if test="joindate1 != null">
				,#{joindate1}
				</if>
				,#{email}
				<if test="phone != null">
				,#{phone}
				</if><if test="address != null">
				,#{address}
				</if><if test="deptId != null">
				,#{deptId}
				</if><if test="deletedYn != null">
				,#{deletedYn}
				</if><if test="deletedDate != null">
				,#{deletedDate}
				</if><if test="gmailAppKey != null">
				,#{gmailAppKey}
				</if>
				)
	</insert>
	<!-- 로그인 -->
	<select id ="getEmp" resultType="emp" parameterType="emp">
        select * from employees where emp_no =#{empNo} and password=#{password}
    </select>
    
    <!-- 개인조회 -->
    <select id ="getEmpl" resultType="emp" parameterType="emp">
        SELECT E.EMP_NO
        , E.EMP_NAME 
        ,E.PASSWORD 
        ,E.POSITION 
        ,E.JOINDATE 
        ,E.EMAIL 
        ,E.PHONE 
        ,E.ADDRESS 
        ,E.DELETED_YN 
        ,E.DELETE_DATE 
        ,E.DEPT_ID 
        ,E.GMAIL_APP_KEY 
        ,D.DEPT_NAME
        FROM EMPLOYEES E
        JOIN DEPARTMENT D
        ON E.DEPT_ID = D.DEPT_ID(+)
        WHERE EMP_NO =#{empNo}
    </select>
    
    <!-- 사원 전체 조회 -->
    <select id="getEmpList" resultType="emp" parameterType="emp">
		SELECT E.EMP_NO, E.EMP_NAME
		,CASE WHEN POSITION = '0' THEN '사원'
		WHEN POSITION = '1' THEN '대리'
		WHEN POSITION = '2' THEN '과장'
		WHEN POSITION = '3' THEN '차장'
		WHEN POSITION = '4' THEN '부장'
        WHEN POSITION = '5' THEN '대표'
		ELSE '없음' END AS POSITION
		, D.DEPT_NAME
		FROM EMPLOYEES E
		JOIN DEPARTMENT D
		ON E.DEPT_ID = D.DEPT_ID(+)
		WHERE DELETED_YN ='N'
		ORDER BY E.EMP_NO DESC
	</select>
	
	<!-- 수정 -->
	<update id="updateEmp" parameterType="emp">
		UPDATE EMPLOYEES SET
		EMP_NAME = #{empName}
		,PASSWORD = #{password}
		,POSITION = #{position}
		,EMAIL = #{email}
		,PHONE = #{phone}
		,ADDRESS = #{address}
		,DEPT_ID = #{deptId}
		,GMAIL_APP_KEY = #{gmailAppKey}
		WHERE EMP_NO = #{empNo}
	</update>
	
	<!-- 퇴사 -->
	<update id="updateDelEmp" parameterType="emp">
		UPDATE EMPLOYEES SET DELETED_YN = 'Y' ,DELETE_DATE=SYSDATE WHERE EMP_NO=#{empNo};
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteEmp" parameterType="emp">
		DELETE FROM EMPLOYEES
		WHERE EMP_NO = #{empNo}
	</delete>
</mapper>