<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ToDoDAO">

	<insert id="insertTodo" parameterType="toDo">
		INSERT INTO
		TODOLIST(TODO_ID, EMP_NO, CONTENT)
		VALUES((SELECT NVL(MAX(TODO_ID),0) +1 FROM TODOLIST),
		#{empNo}, #{content})
	</insert>

	<delete id="deleteTodo">
		DELETE FROM TODOLIST
		WHERE TODO_ID = #{todoId}
	</delete>

	<select id="selectTodo" parameterType="toDo" resultType="toDo">
		SELECT TODO_ID, EMP_NO, CONTENT, DONE
		FROM TODOLIST
		WHERE EMP_NO = #{empNo}
	</select>
</mapper>